.map-content{
	background-color: $dark-gray;
	text-align: center;
	.contact-info{
		padding: 150px 0;
		display: inline-block;
		margin: 0 auto;
		text-align: left;
		color: white;
		font-size: $large;
		p{
			margin: 0;
			a{
				color: inherit;
				text-decoration: none;
			}
		}
	}
}
.formulier-wrapper{
	padding: 75px 100px;
	.article--header{
		border-color: $red;
	}
	.article--body{
		padding-bottom: 0;
	}
}
#map-canvas{
	text-align: left;
	p{
		margin: 0;
	}
}
form{
	width: 100%;
	li{
		padding-bottom: 40px;
		input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
			border: 2px $black solid;
			background-color: transparent;
			color: black;
			font-size: $normal;
			width: 100%;
			padding: 10px 15px;
			-webkit-font-smoothing: antialiased;
		}
	}
	input[type="submit"]{
		-webkit-appearance: none;
		border: 2px $black solid;
		background-color: transparent;
		color: black;
		font-size: $normal;
		text-transform: uppercase;
		border-radius: 0;
		display: inline-block;
		padding: 10px 15px;
		-webkit-font-smoothing: antialiased;
	}
}

::-webkit-input-placeholder {
   color: black;
   -webkit-font-smoothing: antialiased;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
   -webkit-font-smoothing: antialiased;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   -webkit-font-smoothing: antialiased;
}

:-ms-input-placeholder {
   color: black;
   -webkit-font-smoothing: antialiased;
}
@include media(max-width 1039px){
	.map-content{
		text-align: left;
		.contact-info{
			padding: 40px 20px;
			font-size: $large;
		}
	}
	.formulier-wrapper{
		padding: 40px 20px;
	}
	form{
		li{
			padding-bottom: 10px;
		}
	}
	#map-canvas{
		height: 100%;
	}
}