footer{
	background-color: $dark-gray;
	padding: 40px 0;
	color: white;
	width: 100%;
	p{
		margin: 0;
		a{
			color: inherit;
			text-decoration: none;
		}
		&.emp{
			text-transform: uppercase;
			color: #808080;
			font-size: $small;
		}
	}
}
@include media(max-width 1039px){
	footer{
		padding: 40px;
		text-align: center;
		div[class^="col-md"]{
			margin-bottom: 20px;
			width: 100% !important;
			&:last-child{
				margin-bottom: 0;
			}
		}
		p.emp{
			display: none;
		}
		.col-md-10{
			width: 100% !important;
		}
	}
}