nav{
	font-size: 15px;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
		border-bottom: 1px solid $gray;
		position: relative;
		&:before{
			width: 10px;
			content: "";
			position: absolute;
			left: -10px;
			top: 0;
			bottom: 0;
			display: block;
			transition: left 100ms cubic-bezier(0.86,0,.07,1);
			height: 100%;
			background-color: $red;
		}
		&:hover:before{
			left: 0;
		}
		&.current-menu-item:before{
			left: 0;
		}
		&:first-child{
			border-top: 1px solid $gray;
		}
		a{
			padding: 40px;
			display: block;
			color: black;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
@include media(max-width 1039px){
	nav{
		ul{
			li{
				a{
					padding: 30px;
				}
			}
		}
	}
}
@include media(max-width 767px){
	nav{
		ul{
			li{
				a{
					padding: 20px;
				}
			}
		}
	}
}