.project-grid{

}
.project-item{
	a{
		display: block;
	}
	figure{
		position: relative;
		height: 600px;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		transition: 250ms filter ease-in, 250ms -webkit-filter ease-in;
		img{
			width: 100%;
		}
		figcaption{
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 35px;
			color: $black;
			background-color: white;
			font-size: $large;
			padding-right: 75px;
			background-image: url("img/icons/camera-icon.png");
			background-size: 40px 30px;
			background-position: 95% center;
			background-repeat: no-repeat;
		}
		&:hover{
			filter: none; /* IE6-9 */
			-webkit-filter: grayscale(0%);
		}
	}
}
.touch{
	.project-item{
		figure{
			filter: none; /* IE6-9 */
			-webkit-filter: grayscale(0%);
		}
	}
}
.svg{
	.project-item{
		figure{
			figcaption{
				background-image: url("img/icons/camera-icon.svg");
			}
		}
	}
}

.project--detail{
	article{
		padding: 40px;
		position: relative;
		padding-bottom: 100px;
	}
	.article--footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		padding: 40px;
	}
}
.foto-slider{
	ul{
		margin: 0;
		padding: 0;
		figure{
			height: 100%;
		}
		.slide{
			height: 700px;
			list-style: none;
		}
	}
}
@include media(max-width 1039px){
	.project-item{
		figure{
			height: 300px;
			figcaption{
				padding: 15px;
				background-size: 30px 22.5px;
			}
		}
	}
	.foto-slider{
		ul{
			.slide{
				height: 300px;
			}
		}
	}
	.project--detail{
		article{
			padding: 40px 20px;
			position: relative;
			padding-bottom: 100px;
		}
		.article--header{
			padding-bottom: 20px;
		}
		.article--footer{
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			padding: 40px 20px;
		}
	}
}
@include media(min-width 767px max-width 1039px){
	.project-grid{
		.project-item.col-no-gutter.col-lg-6, .project-item.col-no-gutter.col-md-8, .project-item.col-no-gutter.col-md-10, .project-item.col-no-gutter.col-md-6, .project-item.col-no-gutter.col-md-4{
			width: 50% !important;
		}
	}
	.foto-slider{
		width: 100% !important;
	}
}
