@include media(min-width 1040px max-width 1500px) {
	.project-item{
		figure{
			height: 400px;
		}
	}
	.werkwijze-text, .werkwijze-afbeelding{
		width: 50% !important;
	}
	.image-home{
		width: 50% !important;
		width: calc(50% - 10px) !important;
	}
	.intro-content{
		width: 50% !important;
		width: calc(50% + 10px) !important;
	}
	.button{
		padding: 10px 10px;
		font-size: $small;
	}
	.intro-content{
		font-size: $mid-large;
		padding: 40px 40px;
	}
	.accordion{
		padding: 40px;
		dd{
			font-size: $mid-large;
			padding-left: 60px;
		}
		dt{
			padding-left: 60px;
		}
	}
	.map-content{
		.contact-info{
			padding: 40px 0;
			font-size: $mid-large;
		}
	}
	.formulier-wrapper{
		padding: 40px;
	}
	.project--detail{
		article{
			width: 50% !important;
		}
		.foto-slider{
			width: 50% !important;
		}
	}
	.foto-slider ul .slide{
		height: 400px;
	}
	.col-md-6{
		width: 50% !important;
	}
	.project-item figure figcaption{
		padding: 25px;
		font-size: $mid-large;
		background-size: 30px 22.5px;
	}
}