.left-red-border{
	border-left: 10px solid $red;
}
.image-wrapper{
	img{
		width: 100%;
	}
}
p{
	margin: 0px 0px 1em 0px;
	&:last-child{
		margin-bottom: 0;
	}
}
.emp{
	color: $red;
}
.csstransforms{
	.vertical-center{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
.is-sticky{
	.fixed-item{
		width: 17.0596085997%;
	}
}
@include media(max-width 1039px){
	.left-red-border{
		border: none;
	}
}