.intro-content{
	padding: 80px 80px;
	font-size: $large;
}
.werkwijze-slider{
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
		}
	}
}
.werkwijze-slider{
	.slide-article{
		background-color: $red;
		color: white;
	}
}
.isolatie-article{
	padding: 40px 40px;
}
.image-home{
	height: 600px;
}
.werkwijze-slider{
	img{
		height: 5px;
	}
}
@include media(max-width 1039px){
	.image-home{
		height: 300px;
	}
	.intro-content{
		padding: 40px 20px;
		font-size: $normal;
	}
	.isolatie-article{
		padding: 40px 20px;
		.button{
			margin-bottom: 10px;
		}
	}
	.werkwijze-afbeelding figure{
		height: 300px;
	}
	.csstransforms .vertical-center{
		transform: none;
		top: 0;
	}
	.col-no-gutter.col-lg-6, .col-no-gutter.col-md-8, .col-no-gutter.col-md-10, .col-no-gutter.col-md-6, .col-no-gutter.col-md-4{
		width: 100% !important;
	}
}
@include media(max-width 767px){

}
