/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

@media screen and (max-width: 1039px) {

.pushy{
    height: 100%;
    top: 0;
    z-index: 9999;
    position: fixed;
  width: 300px;
  background: white;
  font-size: 1em;
  font-weight: normal;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    -ms-transform: translate3d(-300px,0,0);
    -o-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
}
.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: transparent;
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}
.pushy-active{
	overflow: hidden;
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

}
@media screen and (min-width: 1040px) {
	.pushy{
    position: fixed;
	width: 250px;
	background: white;
	}
	#container{
		width: calc(100% - 250px);
		margin-left: 250px;
	}
	.menu-btn{
		display: none;
	}
}
@media screen and (min-width: 1500px) {
	.pushy{
    position: fixed;
	width: 300px;
	background: white;
	}
	#container{
		width: calc(100% - 300px);
		margin-left: 300px;
	}
	.menu-btn{
		display: none;
	}
}

/* Site Overlay */

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.main-nav-toggle {
  background-color: transparent;
  background-image: none;
  border: none;
  left: 0;
  padding: 0;
  position: relative;
  top: 0;
  transition: background-color .2s ease-out;
  z-index: 1;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.main-nav-toggle-line {
  display: block;
  background-color: #1E1E1E;
  height: 2px;
  margin-bottom: 6px;
  transition: -webkit-transform .6s,opacity .3s;
  transition: transform .6s,opacity .3s;
}
.main-nav-toggle-icon {
  margin: 20px;
  width: 25px;
}
header {
  background-color: #FFF;
  display: block;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 10;
  height: 64px;
  .logowrapper{
	  float: right;
	  padding: 0;
	  top: 0;
	  position: relative;
	  height: 100%;
	  width: auto;
	  a{
		  height: 100%;
		  img{
			  height: 80%;
			  margin-top: 10%;
			  padding-right: 20px;
		  }
	  }
  }
}
#sidebar{
	top: 64px;
	.logowrapper{
		display: none;
	}
}

@media screen and (min-width: 1040px) {
	header{
		display: none;
		.logowrapper{
			display: none;
		}
	}
	#sidebar{
		top: 0;
		.logowrapper{
			display: block;
		}
	}
}