/*
	Theme Name: Ronny Staes
	Description: Thema van Ronny Staes
	Version: 0.1
	Author: Commefort
	Author URI: http://www.commefort.com
	Tags: HTML5, CSS3
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* ==========================================================================
   Vendor
   ========================================================================== */
body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow-x: hidden; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

figure {
  margin: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Fonts */
/* Font-sizes */
.col-sm-1 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-sm-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%; }
      .col-sm-1:last-child {
        margin-right: 0; }
      .col-sm-1:nth-child(12n) {
        margin-right: 0; }
      .col-sm-1:nth-child(12n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-sm-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%; }
      .col-sm-1:last-child {
        margin-right: 0; }
      .col-sm-1:nth-child(12n) {
        margin-right: 0; }
      .col-sm-1:nth-child(12n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-sm-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%; }
      .col-sm-1:last-child {
        margin-right: 0; }
      .col-sm-1:nth-child(12n) {
        margin-right: 0; }
      .col-sm-1:nth-child(12n+1) {
        clear: left; } }

.col-sm-2 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-sm-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .col-sm-2:last-child {
        margin-right: 0; }
      .col-sm-2:nth-child(6n) {
        margin-right: 0; }
      .col-sm-2:nth-child(6n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-sm-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .col-sm-2:last-child {
        margin-right: 0; }
      .col-sm-2:nth-child(6n) {
        margin-right: 0; }
      .col-sm-2:nth-child(6n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-sm-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .col-sm-2:last-child {
        margin-right: 0; }
      .col-sm-2:nth-child(6n) {
        margin-right: 0; }
      .col-sm-2:nth-child(6n+1) {
        clear: left; } }

.col-sm-3 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-sm-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .col-sm-3:last-child {
        margin-right: 0; }
      .col-sm-3:nth-child(4n) {
        margin-right: 0; }
      .col-sm-3:nth-child(4n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-sm-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .col-sm-3:last-child {
        margin-right: 0; }
      .col-sm-3:nth-child(4n) {
        margin-right: 0; }
      .col-sm-3:nth-child(4n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-sm-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .col-sm-3:last-child {
        margin-right: 0; }
      .col-sm-3:nth-child(4n) {
        margin-right: 0; }
      .col-sm-3:nth-child(4n+1) {
        clear: left; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-sm-4:last-child {
      margin-right: 0; }
    .col-sm-4:nth-child(3n) {
      margin-right: 0; }
    .col-sm-4:nth-child(3n+1) {
      clear: left; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-sm-4:last-child {
      margin-right: 0; }
    .col-sm-4:nth-child(3n) {
      margin-right: 0; }
    .col-sm-4:nth-child(3n+1) {
      clear: left; } }
@media screen and (min-width: 1040px)  {
  .col-sm-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-sm-4:last-child {
      margin-right: 0; }
    .col-sm-4:nth-child(3n) {
      margin-right: 0; }
    .col-sm-4:nth-child(3n+1) {
      clear: left; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-sm-5:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-sm-5:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1040px)  {
  .col-sm-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-sm-5:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-sm-6:last-child {
      margin-right: 0; }
    .col-sm-6:nth-child(2n) {
      margin-right: 0; }
    .col-sm-6:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-sm-6:last-child {
      margin-right: 0; }
    .col-sm-6:nth-child(2n) {
      margin-right: 0; }
    .col-sm-6:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 1040px)  {
  .col-sm-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-sm-6:last-child {
      margin-right: 0; }
    .col-sm-6:nth-child(2n) {
      margin-right: 0; }
    .col-sm-6:nth-child(2n+1) {
      clear: left; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-sm-7:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-sm-7:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1040px)  {
  .col-sm-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-sm-7:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-sm-8:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-sm-8:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1040px)  {
  .col-sm-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-sm-8:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-sm-9:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-sm-9:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1040px)  {
  .col-sm-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-sm-9:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-sm-10:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-sm-10:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1040px)  {
  .col-sm-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-sm-10:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-sm-11:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-sm-11:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1040px)  {
  .col-sm-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-sm-11:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-sm-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-sm-12:last-child {
      margin-right: 0; }
    .col-sm-12:nth-child(1n) {
      margin-right: 0; }
    .col-sm-12:nth-child(1n+1) {
      clear: left; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-sm-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-sm-12:last-child {
      margin-right: 0; }
    .col-sm-12:nth-child(1n) {
      margin-right: 0; }
    .col-sm-12:nth-child(1n+1) {
      clear: left; } }
@media screen and (min-width: 1040px)  {
  .col-sm-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-sm-12:last-child {
      margin-right: 0; }
    .col-sm-12:nth-child(1n) {
      margin-right: 0; }
    .col-sm-12:nth-child(1n+1) {
      clear: left; } }

.col-md-1 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .col-md-1:last-child {
        margin-right: 0; }
      .col-md-1:nth-child(2n) {
        margin-right: 0; }
      .col-md-1:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%; }
      .col-md-1:last-child {
        margin-right: 0; }
      .col-md-1:nth-child(12n) {
        margin-right: 0; }
      .col-md-1:nth-child(12n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-md-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%; }
      .col-md-1:last-child {
        margin-right: 0; }
      .col-md-1:nth-child(12n) {
        margin-right: 0; }
      .col-md-1:nth-child(12n+1) {
        clear: left; } }

.col-md-2 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .col-md-2:last-child {
        margin-right: 0; }
      .col-md-2:nth-child(3n) {
        margin-right: 0; }
      .col-md-2:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .col-md-2:last-child {
        margin-right: 0; }
      .col-md-2:nth-child(6n) {
        margin-right: 0; }
      .col-md-2:nth-child(6n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-md-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .col-md-2:last-child {
        margin-right: 0; }
      .col-md-2:nth-child(6n) {
        margin-right: 0; }
      .col-md-2:nth-child(6n+1) {
        clear: left; } }

.col-md-3 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-3:last-child {
        margin-right: 0; }
      .col-md-3:nth-child(1n) {
        margin-right: 0; }
      .col-md-3:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .col-md-3:last-child {
        margin-right: 0; }
      .col-md-3:nth-child(2n) {
        margin-right: 0; }
      .col-md-3:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-md-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .col-md-3:last-child {
        margin-right: 0; }
      .col-md-3:nth-child(4n) {
        margin-right: 0; }
      .col-md-3:nth-child(4n+1) {
        clear: left; } }

.col-md-4 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-4:last-child {
        margin-right: 0; }
      .col-md-4:nth-child(1n) {
        margin-right: 0; }
      .col-md-4:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .col-md-4:last-child {
        margin-right: 0; }
      .col-md-4:nth-child(2n) {
        margin-right: 0; }
      .col-md-4:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-md-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .col-md-4:last-child {
        margin-right: 0; }
      .col-md-4:nth-child(3n) {
        margin-right: 0; }
      .col-md-4:nth-child(3n+1) {
        clear: left; } }

.col-md-5 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-5:last-child {
        margin-right: 0; }
      .col-md-5:nth-child(1n) {
        margin-right: 0; }
      .col-md-5:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      .col-md-5:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1040px)  {
    .col-md-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      .col-md-5:last-child {
        margin-right: 0; } }

.col-md-6 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-6 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-6:last-child {
        margin-right: 0; }
      .col-md-6:nth-child(1n) {
        margin-right: 0; }
      .col-md-6:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-6 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .col-md-6:last-child {
        margin-right: 0; }
      .col-md-6:nth-child(2n) {
        margin-right: 0; }
      .col-md-6:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-md-6 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .col-md-6:last-child {
        margin-right: 0; }
      .col-md-6:nth-child(2n) {
        margin-right: 0; }
      .col-md-6:nth-child(2n+1) {
        clear: left; } }

.col-md-7 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-7:last-child {
        margin-right: 0; }
      .col-md-7:nth-child(1n) {
        margin-right: 0; }
      .col-md-7:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 57.3509785009%; }
      .col-md-7:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1040px)  {
    .col-md-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 57.3509785009%; }
      .col-md-7:last-child {
        margin-right: 0; } }

.col-md-8 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-8:last-child {
        margin-right: 0; }
      .col-md-8:nth-child(1n) {
        margin-right: 0; }
      .col-md-8:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .col-md-8:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1040px)  {
    .col-md-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .col-md-8:last-child {
        margin-right: 0; } }

.col-md-9 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-9:last-child {
        margin-right: 0; }
      .col-md-9:nth-child(1n) {
        margin-right: 0; }
      .col-md-9:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .col-md-9:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1040px)  {
    .col-md-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .col-md-9:last-child {
        margin-right: 0; } }

.col-md-10 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-10:last-child {
        margin-right: 0; }
      .col-md-10:nth-child(1n) {
        margin-right: 0; }
      .col-md-10:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%; }
      .col-md-10:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1040px)  {
    .col-md-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%; }
      .col-md-10:last-child {
        margin-right: 0; } }

.col-md-11 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-11:last-child {
        margin-right: 0; }
      .col-md-11:nth-child(1n) {
        margin-right: 0; }
      .col-md-11:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 91.4701957002%; }
      .col-md-11:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1040px)  {
    .col-md-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 91.4701957002%; }
      .col-md-11:last-child {
        margin-right: 0; } }

.col-md-12 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-md-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-12:last-child {
        margin-right: 0; }
      .col-md-12:nth-child(1n) {
        margin-right: 0; }
      .col-md-12:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-md-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-12:last-child {
        margin-right: 0; }
      .col-md-12:nth-child(1n) {
        margin-right: 0; }
      .col-md-12:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-md-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-md-12:last-child {
        margin-right: 0; }
      .col-md-12:nth-child(1n) {
        margin-right: 0; }
      .col-md-12:nth-child(1n+1) {
        clear: left; } }

.col-lg-1 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-1:last-child {
        margin-right: 0; }
      .col-lg-1:nth-child(1n) {
        margin-right: 0; }
      .col-lg-1:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-1:last-child {
        margin-right: 0; }
      .col-lg-1:nth-child(1n) {
        margin-right: 0; }
      .col-lg-1:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-1 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 6.1721527019%; }
      .col-lg-1:last-child {
        margin-right: 0; }
      .col-lg-1:nth-child(12n) {
        margin-right: 0; }
      .col-lg-1:nth-child(12n+1) {
        clear: left; } }

.col-lg-2 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-2:last-child {
        margin-right: 0; }
      .col-lg-2:nth-child(1n) {
        margin-right: 0; }
      .col-lg-2:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-2:last-child {
        margin-right: 0; }
      .col-lg-2:nth-child(1n) {
        margin-right: 0; }
      .col-lg-2:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-2 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .col-lg-2:last-child {
        margin-right: 0; }
      .col-lg-2:nth-child(6n) {
        margin-right: 0; }
      .col-lg-2:nth-child(6n+1) {
        clear: left; } }

.col-lg-3 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-3:last-child {
        margin-right: 0; }
      .col-lg-3:nth-child(1n) {
        margin-right: 0; }
      .col-lg-3:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-3:last-child {
        margin-right: 0; }
      .col-lg-3:nth-child(1n) {
        margin-right: 0; }
      .col-lg-3:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-3 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .col-lg-3:last-child {
        margin-right: 0; }
      .col-lg-3:nth-child(4n) {
        margin-right: 0; }
      .col-lg-3:nth-child(4n+1) {
        clear: left; } }

.col-lg-4 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-4:last-child {
        margin-right: 0; }
      .col-lg-4:nth-child(1n) {
        margin-right: 0; }
      .col-lg-4:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-4:last-child {
        margin-right: 0; }
      .col-lg-4:nth-child(1n) {
        margin-right: 0; }
      .col-lg-4:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .col-lg-4:last-child {
        margin-right: 0; }
      .col-lg-4:nth-child(3n) {
        margin-right: 0; }
      .col-lg-4:nth-child(3n+1) {
        clear: left; } }

.col-lg-5 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-5:last-child {
        margin-right: 0; }
      .col-lg-5:nth-child(1n) {
        margin-right: 0; }
      .col-lg-5:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-5:last-child {
        margin-right: 0; }
      .col-lg-5:nth-child(1n) {
        margin-right: 0; }
      .col-lg-5:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-5 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      .col-lg-5:last-child {
        margin-right: 0; } }

@media screen and (min-width: 0px) and (max-width: 767px)  {
  .col-lg-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-lg-6:last-child {
      margin-right: 0; }
    .col-lg-6:nth-child(1n) {
      margin-right: 0; }
    .col-lg-6:nth-child(1n+1) {
      clear: left; } }
@media screen and (min-width: 768px) and (max-width: 1039px)  {
  .col-lg-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-lg-6:last-child {
      margin-right: 0; }
    .col-lg-6:nth-child(1n) {
      margin-right: 0; }
    .col-lg-6:nth-child(1n+1) {
      clear: left; } }
@media screen and (min-width: 1040px)  {
  .col-lg-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-lg-6:last-child {
      margin-right: 0; }
    .col-lg-6:nth-child(2n) {
      margin-right: 0; }
    .col-lg-6:nth-child(2n+1) {
      clear: left; } }

.col-lg-7 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-7:last-child {
        margin-right: 0; }
      .col-lg-7:nth-child(1n) {
        margin-right: 0; }
      .col-lg-7:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-7:last-child {
        margin-right: 0; }
      .col-lg-7:nth-child(1n) {
        margin-right: 0; }
      .col-lg-7:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-7 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 57.3509785009%; }
      .col-lg-7:last-child {
        margin-right: 0; } }

.col-lg-8 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-8:last-child {
        margin-right: 0; }
      .col-lg-8:nth-child(1n) {
        margin-right: 0; }
      .col-lg-8:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-8:last-child {
        margin-right: 0; }
      .col-lg-8:nth-child(1n) {
        margin-right: 0; }
      .col-lg-8:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-8 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .col-lg-8:last-child {
        margin-right: 0; } }

.col-lg-9 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-9:last-child {
        margin-right: 0; }
      .col-lg-9:nth-child(1n) {
        margin-right: 0; }
      .col-lg-9:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-9:last-child {
        margin-right: 0; }
      .col-lg-9:nth-child(1n) {
        margin-right: 0; }
      .col-lg-9:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-9 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .col-lg-9:last-child {
        margin-right: 0; } }

.col-lg-10 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-10:last-child {
        margin-right: 0; }
      .col-lg-10:nth-child(1n) {
        margin-right: 0; }
      .col-lg-10:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-10:last-child {
        margin-right: 0; }
      .col-lg-10:nth-child(1n) {
        margin-right: 0; }
      .col-lg-10:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-10 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%; }
      .col-lg-10:last-child {
        margin-right: 0; } }

.col-lg-11 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-11:last-child {
        margin-right: 0; }
      .col-lg-11:nth-child(1n) {
        margin-right: 0; }
      .col-lg-11:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-11:last-child {
        margin-right: 0; }
      .col-lg-11:nth-child(1n) {
        margin-right: 0; }
      .col-lg-11:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-11 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 91.4701957002%; }
      .col-lg-11:last-child {
        margin-right: 0; } }

.col-lg-12 {
  min-height: 1px; }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-lg-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-12:last-child {
        margin-right: 0; }
      .col-lg-12:nth-child(1n) {
        margin-right: 0; }
      .col-lg-12:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-lg-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-12:last-child {
        margin-right: 0; }
      .col-lg-12:nth-child(1n) {
        margin-right: 0; }
      .col-lg-12:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-lg-12 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .col-lg-12:last-child {
        margin-right: 0; }
      .col-lg-12:nth-child(1n) {
        margin-right: 0; }
      .col-lg-12:nth-child(1n+1) {
        clear: left; } }

.col-no-gutter {
  margin-right: 0 !important; }
  .col-no-gutter.col-sm-1 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-sm-1 {
        float: left;
        display: block;
        width: 8.5298042998%; }
        .col-no-gutter.col-sm-1:last-child {
          width: 6.1721527019%; }
        .col-no-gutter.col-sm-1:nth-child(12n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-1:nth-child(12n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-sm-1 {
        float: left;
        display: block;
        width: 8.5298042998%; }
        .col-no-gutter.col-sm-1:last-child {
          width: 6.1721527019%; }
        .col-no-gutter.col-sm-1:nth-child(12n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-1:nth-child(12n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-sm-1 {
        float: left;
        display: block;
        width: 8.5298042998%; }
        .col-no-gutter.col-sm-1:last-child {
          width: 6.1721527019%; }
        .col-no-gutter.col-sm-1:nth-child(12n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-1:nth-child(12n+1) {
          clear: left; } }
  .col-no-gutter.col-sm-2 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-sm-2 {
        float: left;
        display: block;
        width: 17.0596085997%; }
        .col-no-gutter.col-sm-2:last-child {
          width: 14.7019570017%; }
        .col-no-gutter.col-sm-2:nth-child(6n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-2:nth-child(6n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-sm-2 {
        float: left;
        display: block;
        width: 17.0596085997%; }
        .col-no-gutter.col-sm-2:last-child {
          width: 14.7019570017%; }
        .col-no-gutter.col-sm-2:nth-child(6n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-2:nth-child(6n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-sm-2 {
        float: left;
        display: block;
        width: 17.0596085997%; }
        .col-no-gutter.col-sm-2:last-child {
          width: 14.7019570017%; }
        .col-no-gutter.col-sm-2:nth-child(6n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-2:nth-child(6n+1) {
          clear: left; } }
  .col-no-gutter.col-sm-3 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-sm-3 {
        float: left;
        display: block;
        width: 25.5894128995%; }
        .col-no-gutter.col-sm-3:last-child {
          width: 23.2317613015%; }
        .col-no-gutter.col-sm-3:nth-child(4n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-3:nth-child(4n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-sm-3 {
        float: left;
        display: block;
        width: 25.5894128995%; }
        .col-no-gutter.col-sm-3:last-child {
          width: 23.2317613015%; }
        .col-no-gutter.col-sm-3:nth-child(4n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-3:nth-child(4n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-sm-3 {
        float: left;
        display: block;
        width: 25.5894128995%; }
        .col-no-gutter.col-sm-3:last-child {
          width: 23.2317613015%; }
        .col-no-gutter.col-sm-3:nth-child(4n) {
          margin-right: 0; }
        .col-no-gutter.col-sm-3:nth-child(4n+1) {
          clear: left; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-4 {
      float: left;
      display: block;
      width: 34.1192171993%; }
      .col-no-gutter.col-sm-4:last-child {
        width: 31.7615656014%; }
      .col-no-gutter.col-sm-4:nth-child(3n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-4:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-4 {
      float: left;
      display: block;
      width: 34.1192171993%; }
      .col-no-gutter.col-sm-4:last-child {
        width: 31.7615656014%; }
      .col-no-gutter.col-sm-4:nth-child(3n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-4:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-4 {
      float: left;
      display: block;
      width: 34.1192171993%; }
      .col-no-gutter.col-sm-4:last-child {
        width: 31.7615656014%; }
      .col-no-gutter.col-sm-4:nth-child(3n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-4:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-5 {
      float: left;
      display: block;
      width: 42.6490214991%; }
      .col-no-gutter.col-sm-5:last-child {
        width: 40.2913699012%; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-5 {
      float: left;
      display: block;
      width: 42.6490214991%; }
      .col-no-gutter.col-sm-5:last-child {
        width: 40.2913699012%; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-5 {
      float: left;
      display: block;
      width: 42.6490214991%; }
      .col-no-gutter.col-sm-5:last-child {
        width: 40.2913699012%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-6 {
      float: left;
      display: block;
      width: 51.178825799%; }
      .col-no-gutter.col-sm-6:last-child {
        width: 48.821174201%; }
      .col-no-gutter.col-sm-6:nth-child(2n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-6:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-6 {
      float: left;
      display: block;
      width: 51.178825799%; }
      .col-no-gutter.col-sm-6:last-child {
        width: 48.821174201%; }
      .col-no-gutter.col-sm-6:nth-child(2n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-6:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-6 {
      float: left;
      display: block;
      width: 51.178825799%; }
      .col-no-gutter.col-sm-6:last-child {
        width: 48.821174201%; }
      .col-no-gutter.col-sm-6:nth-child(2n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-6:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-7 {
      float: left;
      display: block;
      width: 59.7086300988%; }
      .col-no-gutter.col-sm-7:last-child {
        width: 57.3509785009%; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-7 {
      float: left;
      display: block;
      width: 59.7086300988%; }
      .col-no-gutter.col-sm-7:last-child {
        width: 57.3509785009%; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-7 {
      float: left;
      display: block;
      width: 59.7086300988%; }
      .col-no-gutter.col-sm-7:last-child {
        width: 57.3509785009%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-8 {
      float: left;
      display: block;
      width: 68.2384343986%; }
      .col-no-gutter.col-sm-8:last-child {
        width: 65.8807828007%; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-8 {
      float: left;
      display: block;
      width: 68.2384343986%; }
      .col-no-gutter.col-sm-8:last-child {
        width: 65.8807828007%; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-8 {
      float: left;
      display: block;
      width: 68.2384343986%; }
      .col-no-gutter.col-sm-8:last-child {
        width: 65.8807828007%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-9 {
      float: left;
      display: block;
      width: 76.7682386985%; }
      .col-no-gutter.col-sm-9:last-child {
        width: 74.4105871005%; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-9 {
      float: left;
      display: block;
      width: 76.7682386985%; }
      .col-no-gutter.col-sm-9:last-child {
        width: 74.4105871005%; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-9 {
      float: left;
      display: block;
      width: 76.7682386985%; }
      .col-no-gutter.col-sm-9:last-child {
        width: 74.4105871005%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-10 {
      float: left;
      display: block;
      width: 85.2980429983%; }
      .col-no-gutter.col-sm-10:last-child {
        width: 82.9403914003%; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-10 {
      float: left;
      display: block;
      width: 85.2980429983%; }
      .col-no-gutter.col-sm-10:last-child {
        width: 82.9403914003%; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-10 {
      float: left;
      display: block;
      width: 85.2980429983%; }
      .col-no-gutter.col-sm-10:last-child {
        width: 82.9403914003%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-11 {
      float: left;
      display: block;
      width: 93.8278472981%; }
      .col-no-gutter.col-sm-11:last-child {
        width: 91.4701957002%; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-11 {
      float: left;
      display: block;
      width: 93.8278472981%; }
      .col-no-gutter.col-sm-11:last-child {
        width: 91.4701957002%; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-11 {
      float: left;
      display: block;
      width: 93.8278472981%; }
      .col-no-gutter.col-sm-11:last-child {
        width: 91.4701957002%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-sm-12 {
      float: left;
      display: block;
      width: 102.3576515979%; }
      .col-no-gutter.col-sm-12:last-child {
        width: 100%; }
      .col-no-gutter.col-sm-12:nth-child(1n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-12:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-sm-12 {
      float: left;
      display: block;
      width: 102.3576515979%; }
      .col-no-gutter.col-sm-12:last-child {
        width: 100%; }
      .col-no-gutter.col-sm-12:nth-child(1n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-12:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-sm-12 {
      float: left;
      display: block;
      width: 102.3576515979%; }
      .col-no-gutter.col-sm-12:last-child {
        width: 100%; }
      .col-no-gutter.col-sm-12:nth-child(1n) {
        margin-right: 0; }
      .col-no-gutter.col-sm-12:nth-child(1n+1) {
        clear: left; } }
  .col-no-gutter.col-md-1 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-1 {
        float: left;
        display: block;
        width: 51.178825799%; }
        .col-no-gutter.col-md-1:last-child {
          width: 48.821174201%; }
        .col-no-gutter.col-md-1:nth-child(2n) {
          margin-right: 0; }
        .col-no-gutter.col-md-1:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-1 {
        float: left;
        display: block;
        width: 8.5298042998%; }
        .col-no-gutter.col-md-1:last-child {
          width: 6.1721527019%; }
        .col-no-gutter.col-md-1:nth-child(12n) {
          margin-right: 0; }
        .col-no-gutter.col-md-1:nth-child(12n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-1 {
        float: left;
        display: block;
        width: 8.5298042998%; }
        .col-no-gutter.col-md-1:last-child {
          width: 6.1721527019%; }
        .col-no-gutter.col-md-1:nth-child(12n) {
          margin-right: 0; }
        .col-no-gutter.col-md-1:nth-child(12n+1) {
          clear: left; } }
  .col-no-gutter.col-md-2 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-2 {
        float: left;
        display: block;
        width: 34.1192171993%; }
        .col-no-gutter.col-md-2:last-child {
          width: 31.7615656014%; }
        .col-no-gutter.col-md-2:nth-child(3n) {
          margin-right: 0; }
        .col-no-gutter.col-md-2:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-2 {
        float: left;
        display: block;
        width: 17.0596085997%; }
        .col-no-gutter.col-md-2:last-child {
          width: 14.7019570017%; }
        .col-no-gutter.col-md-2:nth-child(6n) {
          margin-right: 0; }
        .col-no-gutter.col-md-2:nth-child(6n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-2 {
        float: left;
        display: block;
        width: 17.0596085997%; }
        .col-no-gutter.col-md-2:last-child {
          width: 14.7019570017%; }
        .col-no-gutter.col-md-2:nth-child(6n) {
          margin-right: 0; }
        .col-no-gutter.col-md-2:nth-child(6n+1) {
          clear: left; } }
  .col-no-gutter.col-md-3 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-3 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-3:last-child {
          width: 100%; }
        .col-no-gutter.col-md-3:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-3:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-3 {
        float: left;
        display: block;
        width: 51.178825799%; }
        .col-no-gutter.col-md-3:last-child {
          width: 48.821174201%; }
        .col-no-gutter.col-md-3:nth-child(2n) {
          margin-right: 0; }
        .col-no-gutter.col-md-3:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-3 {
        float: left;
        display: block;
        width: 25.5894128995%; }
        .col-no-gutter.col-md-3:last-child {
          width: 23.2317613015%; }
        .col-no-gutter.col-md-3:nth-child(4n) {
          margin-right: 0; }
        .col-no-gutter.col-md-3:nth-child(4n+1) {
          clear: left; } }
  .col-no-gutter.col-md-4 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-4 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-4:last-child {
          width: 100%; }
        .col-no-gutter.col-md-4:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-4:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-4 {
        float: left;
        display: block;
        width: 51.178825799%; }
        .col-no-gutter.col-md-4:last-child {
          width: 48.821174201%; }
        .col-no-gutter.col-md-4:nth-child(2n) {
          margin-right: 0; }
        .col-no-gutter.col-md-4:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-4 {
        float: left;
        display: block;
        width: 34.1192171993%; }
        .col-no-gutter.col-md-4:last-child {
          width: 31.7615656014%; }
        .col-no-gutter.col-md-4:nth-child(3n) {
          margin-right: 0; }
        .col-no-gutter.col-md-4:nth-child(3n+1) {
          clear: left; } }
  .col-no-gutter.col-md-5 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-5 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-5:last-child {
          width: 100%; }
        .col-no-gutter.col-md-5:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-5:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-5 {
        float: left;
        display: block;
        width: 42.6490214991%; }
        .col-no-gutter.col-md-5:last-child {
          width: 40.2913699012%; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-5 {
        float: left;
        display: block;
        width: 42.6490214991%; }
        .col-no-gutter.col-md-5:last-child {
          width: 40.2913699012%; } }
  .col-no-gutter.col-md-6 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-6 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-6:last-child {
          width: 100%; }
        .col-no-gutter.col-md-6:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-6:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-6 {
        float: left;
        display: block;
        width: 51.178825799%; }
        .col-no-gutter.col-md-6:last-child {
          width: 48.821174201%; }
        .col-no-gutter.col-md-6:nth-child(2n) {
          margin-right: 0; }
        .col-no-gutter.col-md-6:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-6 {
        float: left;
        display: block;
        width: 51.178825799%; }
        .col-no-gutter.col-md-6:last-child {
          width: 48.821174201%; }
        .col-no-gutter.col-md-6:nth-child(2n) {
          margin-right: 0; }
        .col-no-gutter.col-md-6:nth-child(2n+1) {
          clear: left; } }
  .col-no-gutter.col-md-7 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-7 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-7:last-child {
          width: 100%; }
        .col-no-gutter.col-md-7:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-7:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-7 {
        float: left;
        display: block;
        width: 59.7086300988%; }
        .col-no-gutter.col-md-7:last-child {
          width: 57.3509785009%; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-7 {
        float: left;
        display: block;
        width: 59.7086300988%; }
        .col-no-gutter.col-md-7:last-child {
          width: 57.3509785009%; } }
  .col-no-gutter.col-md-8 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-8 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-8:last-child {
          width: 100%; }
        .col-no-gutter.col-md-8:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-8:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-8 {
        float: left;
        display: block;
        width: 68.2384343986%; }
        .col-no-gutter.col-md-8:last-child {
          width: 65.8807828007%; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-8 {
        float: left;
        display: block;
        width: 68.2384343986%; }
        .col-no-gutter.col-md-8:last-child {
          width: 65.8807828007%; } }
  .col-no-gutter.col-md-9 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-9 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-9:last-child {
          width: 100%; }
        .col-no-gutter.col-md-9:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-9:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-9 {
        float: left;
        display: block;
        width: 76.7682386985%; }
        .col-no-gutter.col-md-9:last-child {
          width: 74.4105871005%; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-9 {
        float: left;
        display: block;
        width: 76.7682386985%; }
        .col-no-gutter.col-md-9:last-child {
          width: 74.4105871005%; } }
  .col-no-gutter.col-md-10 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-10 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-10:last-child {
          width: 100%; }
        .col-no-gutter.col-md-10:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-10:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-10 {
        float: left;
        display: block;
        width: 85.2980429983%; }
        .col-no-gutter.col-md-10:last-child {
          width: 82.9403914003%; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-10 {
        float: left;
        display: block;
        width: 85.2980429983%; }
        .col-no-gutter.col-md-10:last-child {
          width: 82.9403914003%; } }
  .col-no-gutter.col-md-11 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-11 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-11:last-child {
          width: 100%; }
        .col-no-gutter.col-md-11:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-11:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-11 {
        float: left;
        display: block;
        width: 93.8278472981%; }
        .col-no-gutter.col-md-11:last-child {
          width: 91.4701957002%; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-11 {
        float: left;
        display: block;
        width: 93.8278472981%; }
        .col-no-gutter.col-md-11:last-child {
          width: 91.4701957002%; } }
  .col-no-gutter.col-md-12 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-md-12 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-12:last-child {
          width: 100%; }
        .col-no-gutter.col-md-12:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-12:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-md-12 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-12:last-child {
          width: 100%; }
        .col-no-gutter.col-md-12:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-12:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-md-12 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-md-12:last-child {
          width: 100%; }
        .col-no-gutter.col-md-12:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-md-12:nth-child(1n+1) {
          clear: left; } }
  .col-no-gutter.col-lg-1 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-1 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-1:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-1:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-1:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-1 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-1:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-1:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-1:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-1 {
        float: left;
        display: block;
        width: 8.5298042998%; }
        .col-no-gutter.col-lg-1:last-child {
          width: 6.1721527019%; }
        .col-no-gutter.col-lg-1:nth-child(12n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-1:nth-child(12n+1) {
          clear: left; } }
  .col-no-gutter.col-lg-2 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-2 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-2:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-2:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-2:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-2 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-2:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-2:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-2:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-2 {
        float: left;
        display: block;
        width: 17.0596085997%; }
        .col-no-gutter.col-lg-2:last-child {
          width: 14.7019570017%; }
        .col-no-gutter.col-lg-2:nth-child(6n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-2:nth-child(6n+1) {
          clear: left; } }
  .col-no-gutter.col-lg-3 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-3 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-3:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-3:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-3:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-3 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-3:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-3:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-3:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-3 {
        float: left;
        display: block;
        width: 25.5894128995%; }
        .col-no-gutter.col-lg-3:last-child {
          width: 23.2317613015%; }
        .col-no-gutter.col-lg-3:nth-child(4n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-3:nth-child(4n+1) {
          clear: left; } }
  .col-no-gutter.col-lg-4 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-4 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-4:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-4:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-4:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-4 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-4:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-4:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-4:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-4 {
        float: left;
        display: block;
        width: 34.1192171993%; }
        .col-no-gutter.col-lg-4:last-child {
          width: 31.7615656014%; }
        .col-no-gutter.col-lg-4:nth-child(3n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-4:nth-child(3n+1) {
          clear: left; } }
  .col-no-gutter.col-lg-5 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-5 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-5:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-5:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-5:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-5 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-5:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-5:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-5:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-5 {
        float: left;
        display: block;
        width: 42.6490214991%; }
        .col-no-gutter.col-lg-5:last-child {
          width: 40.2913699012%; } }
  @media screen and (min-width: 0px) and (max-width: 767px)  {
    .col-no-gutter.col-lg-6 {
      float: left;
      display: block;
      width: 102.3576515979%; }
      .col-no-gutter.col-lg-6:last-child {
        width: 100%; }
      .col-no-gutter.col-lg-6:nth-child(1n) {
        margin-right: 0; }
      .col-no-gutter.col-lg-6:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1039px)  {
    .col-no-gutter.col-lg-6 {
      float: left;
      display: block;
      width: 102.3576515979%; }
      .col-no-gutter.col-lg-6:last-child {
        width: 100%; }
      .col-no-gutter.col-lg-6:nth-child(1n) {
        margin-right: 0; }
      .col-no-gutter.col-lg-6:nth-child(1n+1) {
        clear: left; } }
  @media screen and (min-width: 1040px)  {
    .col-no-gutter.col-lg-6 {
      float: left;
      display: block;
      width: 51.178825799%; }
      .col-no-gutter.col-lg-6:last-child {
        width: 48.821174201%; }
      .col-no-gutter.col-lg-6:nth-child(2n) {
        margin-right: 0; }
      .col-no-gutter.col-lg-6:nth-child(2n+1) {
        clear: left; } }
  .col-no-gutter.col-lg-7 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-7 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-7:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-7:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-7:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-7 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-7:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-7:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-7:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-7 {
        float: left;
        display: block;
        width: 59.7086300988%; }
        .col-no-gutter.col-lg-7:last-child {
          width: 57.3509785009%; } }
  .col-no-gutter.col-lg-8 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-8 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-8:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-8:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-8:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-8 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-8:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-8:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-8:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-8 {
        float: left;
        display: block;
        width: 68.2384343986%; }
        .col-no-gutter.col-lg-8:last-child {
          width: 65.8807828007%; } }
  .col-no-gutter.col-lg-9 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-9 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-9:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-9:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-9:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-9 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-9:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-9:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-9:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-9 {
        float: left;
        display: block;
        width: 76.7682386985%; }
        .col-no-gutter.col-lg-9:last-child {
          width: 74.4105871005%; } }
  .col-no-gutter.col-lg-10 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-10 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-10:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-10:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-10:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-10 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-10:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-10:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-10:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-10 {
        float: left;
        display: block;
        width: 85.2980429983%; }
        .col-no-gutter.col-lg-10:last-child {
          width: 82.9403914003%; } }
  .col-no-gutter.col-lg-11 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-11 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-11:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-11:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-11:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-11 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-11:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-11:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-11:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-11 {
        float: left;
        display: block;
        width: 93.8278472981%; }
        .col-no-gutter.col-lg-11:last-child {
          width: 91.4701957002%; } }
  .col-no-gutter.col-lg-12 {
    min-height: 1px; }
    @media screen and (min-width: 0px) and (max-width: 767px)  {
      .col-no-gutter.col-lg-12 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-12:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-12:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-12:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1039px)  {
      .col-no-gutter.col-lg-12 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-12:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-12:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-12:nth-child(1n+1) {
          clear: left; } }
    @media screen and (min-width: 1040px)  {
      .col-no-gutter.col-lg-12 {
        float: left;
        display: block;
        width: 102.3576515979%; }
        .col-no-gutter.col-lg-12:last-child {
          width: 100%; }
        .col-no-gutter.col-lg-12:nth-child(1n) {
          margin-right: 0; }
        .col-no-gutter.col-lg-12:nth-child(1n+1) {
          clear: left; } }

.row:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

.left-red-border {
  border-left: 10px solid #C52216; }

.image-wrapper img {
  width: 100%; }

p {
  margin: 0px 0px 1em 0px; }
  p:last-child {
    margin-bottom: 0; }

.emp {
  color: #C52216; }

.csstransforms .vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.is-sticky .fixed-item {
  width: 17.0596085997%; }

@media screen and (max-width: 1039px)  {
  .left-red-border {
    border: none; } }

.logowrapper {
  padding: 40px;
  padding: 40px; }
  .logowrapper a {
    display: block;
    text-align: center; }
    .logowrapper a img {
      max-width: 100%; }

nav {
  font-size: 15px; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    list-style: none;
    border-bottom: 1px solid #B3B3B3;
    position: relative; }
    nav li:before {
      width: 10px;
      content: "";
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      display: block;
      -webkit-transition: left 100ms cubic-bezier(0.86, 0, .07, 1);
              transition: left 100ms cubic-bezier(0.86, 0, .07, 1);
      height: 100%;
      background-color: #C52216; }
    nav li:hover:before {
      left: 0; }
    nav li.current-menu-item:before {
      left: 0; }
    nav li:first-child {
      border-top: 1px solid #B3B3B3; }
    nav li a {
      padding: 40px;
      display: block;
      color: black;
      text-decoration: none;
      text-transform: uppercase; }

@media screen and (max-width: 1039px)  {
  nav ul li a {
    padding: 30px; } }

@media screen and (max-width: 767px)  {
  nav ul li a {
    padding: 20px; } }

.intro-content {
  padding: 80px 80px;
  font-size: 24px; }

.werkwijze-slider ul {
  margin: 0;
  padding: 0; }
  .werkwijze-slider ul li {
    list-style: none; }

.werkwijze-slider .slide-article {
  background-color: #C52216;
  color: white; }

.isolatie-article {
  padding: 40px 40px; }

.image-home {
  height: 600px; }

.werkwijze-slider img {
  height: 5px; }

@media screen and (max-width: 1039px)  {
  .image-home {
    height: 300px; }
  .intro-content {
    padding: 40px 20px;
    font-size: 15px; }
  .isolatie-article {
    padding: 40px 20px; }
    .isolatie-article .button {
      margin-bottom: 10px; }
  .werkwijze-afbeelding figure {
    height: 300px; }
  .csstransforms .vertical-center {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    top: 0; }
  .col-no-gutter.col-lg-6, .col-no-gutter.col-md-8, .col-no-gutter.col-md-10, .col-no-gutter.col-md-6, .col-no-gutter.col-md-4 {
    width: 100% !important; } }

.map-content {
  background-color: #1D1D1D;
  text-align: center; }
  .map-content .contact-info {
    padding: 150px 0;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    color: white;
    font-size: 24px; }
    .map-content .contact-info p {
      margin: 0; }
      .map-content .contact-info p a {
        color: inherit;
        text-decoration: none; }

.formulier-wrapper {
  padding: 75px 100px; }
  .formulier-wrapper .article--header {
    border-color: #C52216; }
  .formulier-wrapper .article--body {
    padding-bottom: 0; }

#map-canvas {
  text-align: left; }
  #map-canvas p {
    margin: 0; }

form {
  width: 100%; }
  form li {
	  
	  list-style: none;
	  
    padding-bottom: 40px; }
    form li input[type="text"], form li input[type="password"], form li input[type="date"], form li input[type="datetime"], form li input[type="datetime-local"], form li input[type="month"], form li input[type="week"], form li input[type="email"], form li input[type="number"], form li input[type="search"], form li input[type="tel"], form li input[type="time"], form li input[type="url"], form li input[type="color"], form li textarea {
      border: 2px #000 solid;
      background-color: transparent;
      color: black;
      font-size: 15px;
      width: 100%;
      padding: 10px 15px;
      -webkit-font-smoothing: antialiased; }
  form input[type="submit"] {
    -webkit-appearance: none;
    border: 2px #000 solid;
    background-color: transparent;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0;
    display: inline-block;
    padding: 10px 15px;
    -webkit-font-smoothing: antialiased; }

::-webkit-input-placeholder {
  color: black;
  -webkit-font-smoothing: antialiased; }

:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  -webkit-font-smoothing: antialiased; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  -webkit-font-smoothing: antialiased; }

:-ms-input-placeholder {
  color: black;
  -webkit-font-smoothing: antialiased; }

@media screen and (max-width: 1039px)  {
  .map-content {
    text-align: left; }
    .map-content .contact-info {
      padding: 40px 20px;
      font-size: 24px; }
  .formulier-wrapper {
    padding: 40px 20px; }
  form li {
    padding-bottom: 10px; }
  #map-canvas {
    height: 100%; } }

.project-item a {
  display: block; }
.project-item figure {
  position: relative;
  height: 600px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-transition: 250ms filter ease-in, 250ms -webkit-filter ease-in;
          transition: 250ms filter ease-in, 250ms -webkit-filter ease-in; }
  .project-item figure img {
    width: 100%; }
  .project-item figure figcaption {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px;
    color: #000;
    background-color: white;
    font-size: 24px;
    padding-right: 75px;
    background-image: url("img/icons/camera-icon.png");
    background-size: 40px 30px;
    background-position: 95% center;
    background-repeat: no-repeat; }
  .project-item figure:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0%); }

.touch .project-item figure {
  filter: none;
  /* IE6-9 */
  -webkit-filter: grayscale(0%); }

.svg .project-item figure figcaption {
  background-image: url("img/icons/camera-icon.svg"); }

.project--detail article {
  padding: 40px;
  position: relative;
  padding-bottom: 100px; }
.project--detail .article--footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 40px; }

.foto-slider ul {
  margin: 0;
  padding: 0; }
  .foto-slider ul figure {
    height: 100%; }
  .foto-slider ul .slide {
    height: 700px;
    list-style: none; }

@media screen and (max-width: 1039px)  {
  .project-item figure {
    height: 300px; }
    .project-item figure figcaption {
      padding: 15px;
      background-size: 30px 22.5px; }
  .foto-slider ul .slide {
    height: 300px; }
  .project--detail article {
    padding: 40px 20px;
    position: relative;
    padding-bottom: 100px; }
  .project--detail .article--header {
    padding-bottom: 20px; }
  .project--detail .article--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 40px 20px; } }

@media screen and (min-width: 767px) and (max-width: 1039px)  {
  .project-grid .project-item.col-no-gutter.col-lg-6, .project-grid .project-item.col-no-gutter.col-md-8, .project-grid .project-item.col-no-gutter.col-md-10, .project-grid .project-item.col-no-gutter.col-md-6, .project-grid .project-item.col-no-gutter.col-md-4 {
    width: 50% !important; }
  .foto-slider {
    width: 100% !important; } }

footer {
  background-color: #1D1D1D;
  padding: 40px 0;
  color: white;
  width: 100%; }
  footer p {
    margin: 0; }
    footer p a {
      color: inherit;
      text-decoration: none; }
    footer p.emp {
      text-transform: uppercase;
      color: #808080;
      font-size: 12px; }

@media screen and (max-width: 1039px)  {
  footer {
    padding: 40px;
    text-align: center; }
    footer div[class^="col-md"] {
      margin-bottom: 20px;
      width: 100% !important; }
      footer div[class^="col-md"]:last-child {
        margin-bottom: 0; }
    footer p.emp {
      display: none; }
    footer .col-md-10 {
      width: 100% !important; } }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px;
  letter-spacing: 5px; }

h3 {
  font-size: 20px;
  letter-spacing: 5px; }

h4 {
  font-size: 15px;
  letter-spacing: 2px; }

.slide-article {
  padding: 40px; }

.article--header {
  padding-bottom: 40px;
  border-bottom: 2px solid #000; }
  .article--header .counter {
    float: right; }

.article--body {
  padding: 40px 0; }
  .article--body h4 {
    margin-bottom: 1em; }

article h3, article h4, .article--header h3, .article--header h4 {
  text-transform: uppercase;
  margin: 0; }
  article h3:after, article h4:after, .article--header h3:after, .article--header h4:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (max-width: 1039px)  {
  .slide-article {
    padding: 40px 20px; } }

.button {
  display: inline-block;
  padding: 15px 25px;
  color: #C52216;
  border: 2px solid #C52216;
  text-decoration: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center; }

.button-right {
  float: right; }

.button-alternate {
  color: white;
  border-color: white; }

.button-black {
  color: black;
  border-color: black; }

@media screen and (max-width: 767px)  {
  .button {
    padding: 7.5px 10px; } }

.accordion {
  padding: 150px 75px;
  margin: 0; }
  .accordion dt, .accordion dd {
    padding-left: 75px;
    margin: 0; }
    .accordion dt a, .accordion dd a {
      display: block;
      color: inherit;
      font-size: 33px;
      font-weight: bold;
      text-decoration: none; }
  .accordion dd {
    margin: 0;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 40px; }
  .accordion dt {
    position: relative;
    padding: 20px 0px;
    padding-left: 75px;
    border-bottom: #B3B3B3 1px solid; }
    .accordion dt:before {
      display: block;
      height: 30px;
      width: 30px;
      background-image: url("img/icons/accordion-icon.png");
      content: "";
      margin-top: -15px;
      top: 50%;
      position: absolute;
      left: 0; }
    .accordion dt.active {
      border-bottom: #B3B3B3 1px solid; }
      .accordion dt.active:before {
        background-image: url("img/icons/accordion-icon-open.png"); }

.svg .accordion dt:before {
  background-image: url("img/icons/accordion-icon.svg"); }
.svg .accordion dt.active:before {
  background-image: url("img/icons/accordion-icon-open.svg"); }

@media screen and (max-width: 1039px)  {
  .accordion {
    padding: 20px;
    padding-top: 0; }
    .accordion dt, .accordion dd {
      padding-left: 50px; }
      .accordion dt a, .accordion dd a {
        font-size: 24px; }
    .accordion dd {
      font-size: 15px;
      padding-bottom: 20px;
      padding-top: 20px; } }

form ul {
  margin: 0;
  padding: 0; }
  form ul:after {
    content: "";
    display: table;
    clear: both; }

/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
@media screen and (max-width: 1039px) {
  .pushy {
    height: 100%;
    top: 0;
    z-index: 9999;
    position: fixed;
    width: 300px;
    background: white;
    font-size: 1em;
    font-weight: normal;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  /* Menu Movement */
  .pushy-left {
    -webkit-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0); }
  .pushy-open {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .container-push, .push-push {
    -webkit-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }
  .pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: transparent;
    -webkit-animation: fade 500ms;
    animation: fade 500ms; }
  .pushy-active {
    overflow: hidden; }
  /* Menu Transitions */
  .pushy, #container, .push {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99); } }

@media screen and (min-width: 1040px) {
  .pushy {
    position: fixed;
    width: 250px;
    background: white; }
  #container {
    width: calc(100% - 250px);
    margin-left: 250px; }
  .menu-btn {
    display: none; } }

@media screen and (min-width: 1500px) {
  .pushy {
    position: fixed;
    width: 300px;
    background: white; }
  #container {
    width: calc(100% - 300px);
    margin-left: 300px; }
  .menu-btn {
    display: none; } }

/* Site Overlay */
@keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.main-nav-toggle {
  background-color: transparent;
  background-image: none;
  border: none;
  left: 0;
  padding: 0;
  position: relative;
  top: 0;
  -webkit-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
  z-index: 1;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

.main-nav-toggle-line {
  display: block;
  background-color: #1E1E1E;
  height: 2px;
  margin-bottom: 6px;
  -webkit-transition: -webkit-transform .6s, opacity .3s;
          transition: -webkit-transform .6s, opacity .3s;
  transition: transform .6s, opacity .3s; }

.main-nav-toggle-icon {
  margin: 20px;
  width: 25px; }

header {
  background-color: #FFF;
  display: block;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 10;
  height: 64px; }
  header .logowrapper {
    float: right;
    padding: 0;
    top: 0;
    position: relative;
    height: 100%;
    width: auto; }
    header .logowrapper a {
      height: 100%; }
      header .logowrapper a img {
        height: 80%;
        margin-top: 10%;
        padding-right: 20px; }

#sidebar {
  top: 64px; }
  #sidebar .logowrapper {
    display: none; }

@media screen and (min-width: 1040px) {
  header {
    display: none; }
    header .logowrapper {
      display: none; }
  #sidebar {
    top: 0; }
    #sidebar .logowrapper {
      display: block; } }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (min-width: 1040px) and (max-width: 1500px)  {
  .project-item figure {
    height: 400px; }
  .werkwijze-text, .werkwijze-afbeelding {
    width: 50% !important; }
  .image-home {
    width: 50% !important;
    width: calc(50% - 10px) !important; }
  .intro-content {
    width: 50% !important;
    width: calc(50% + 10px) !important; }
  .button {
    padding: 10px 10px;
    font-size: 12px; }
  .intro-content {
    font-size: 20px;
    padding: 40px 40px; }
  .accordion {
    padding: 40px; }
    .accordion dd {
      font-size: 20px;
      padding-left: 60px; }
    .accordion dt {
      padding-left: 60px; }
  .map-content .contact-info {
    padding: 40px 0;
    font-size: 20px; }
  .formulier-wrapper {
    padding: 40px; }
  .project--detail article {
    width: 50% !important; }
  .project--detail .foto-slider {
    width: 50% !important; }
  .foto-slider ul .slide {
    height: 400px; }
  .col-md-6 {
    width: 50% !important; }
  .project-item figure figcaption {
    padding: 25px;
    font-size: 20px;
    background-size: 30px 22.5px; } }
/*# sourceMappingURL=style.css.map */