.accordion{
	padding: 150px 75px;
	margin: 0;
    dt, dd{
		padding-left: 75px;
		margin: 0;
		a{
    		display: block;
    		color: inherit;
    		font-size: $xlarge;
    		font-weight: bold;
    		text-decoration: none;
    	}
    }
    dd{
		margin: 0;
		font-size: $large;
		padding-bottom: 40px;
		padding-top: 40px;
  	}
  	dt{
	  	position: relative;
	  	padding: 20px 0px;
	  	padding-left: 75px;
	  	border-bottom: $gray 1px solid;
	  	&:before{
		  	display: block;
		  	height: 30px;
		  	width: 30px;
		  	background-image: url("img/icons/accordion-icon.png");
		  	content: "";
		  	margin-top: -15px;
		  	top: 50%;
		  	position: absolute;
		  	left: 0;
	  	}
	  	&.active{
		  	border-bottom: $gray 1px solid;
		  	&:before{
		  		background-image: url("img/icons/accordion-icon-open.png");
		  	}
	  	}
  	}
}
.svg{
	.accordion{
		dt{
			&:before{
				background-image: url("img/icons/accordion-icon.svg");
			}
			&.active{
			  	&:before{
			  		background-image: url("img/icons/accordion-icon-open.svg");
			  	}
		  	}
		}
	}
}

@include media(max-width 1039px){
	.accordion{
		padding: 20px;
		padding-top: 0;
		dt, dd{
			padding-left: 50px;
			a{
	    		font-size: $large;
	    	}
	    }
	    dd{
		    font-size: $normal;
		    padding-bottom: 20px;
		    padding-top: 20px;
	    }
	}
}