.slide-article{
	padding: 40px;
}
.article--header{
	padding-bottom: 40px;
	border-bottom: 2px solid $black;
	.counter{
		float: right;
	}
}
.article--body{
	padding: 40px 0;
	h4{
		margin-bottom: 1em;
	}
}
.article--footer{}
article, .article--header{
	h3,h4{
		text-transform: uppercase;
		@include clearfix;
		margin: 0;
	}
}

@include media(max-width 1039px){
	.slide-article{
		padding: 40px 20px;
	}
}