.button{
	display: inline-block;
	padding: 15px 25px;
	color: $red;
	border: 2px solid $red;
	text-decoration: none;
	-webkit-appearance: none;
	background-color: transparent;
	border-radius: 0;
	text-transform: uppercase;
	text-align: center;
}
.button-right{
	float: right;
}
.button-alternate{
	color: white;
	border-color: white;
}
.button-black{
	color: black;
	border-color: black;
}
@include media(max-width 767px){
	.button{
		padding: 7.5px 10px;
	}
}