.col-sm-1{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(1);@include omega(12n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(1);@include omega(12n);
	}
	@include media(min-width 1040px){
		@include span-columns(1);@include omega(12n);
	}
}
.col-sm-2{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(2);@include omega(6n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(2);@include omega(6n);
	}
	@include media(min-width 1040px){
		@include span-columns(2);@include omega(6n);
	}
}
.col-sm-3{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(3);@include omega(4n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(3);@include omega(4n);
	}
	@include media(min-width 1040px){
		@include span-columns(3);@include omega(4n);
	}
}
.col-sm-4{
	@include media(min-width 0px max-width 767px){
		@include span-columns(4);@include omega(3n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(4);@include omega(3n);
	}
	@include media(min-width 1040px){
		@include span-columns(4);@include omega(3n);
	}
}
.col-sm-5{
	@include media(min-width 0px max-width 767px){
		@include span-columns(5);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(5);
	}
	@include media(min-width 1040px){
		@include span-columns(5);
	}
}
.col-sm-6{
	@include media(min-width 0px max-width 767px){
		@include span-columns(6);@include omega(2n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(6);@include omega(2n);
	}
	@include media(min-width 1040px){
		@include span-columns(6);@include omega(2n);
	}
}
.col-sm-7{
	@include media(min-width 0px max-width 767px){
		@include span-columns(7);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(7);
	}
	@include media(min-width 1040px){
		@include span-columns(7);
	}
}
.col-sm-8{
	@include media(min-width 0px max-width 767px){
		@include span-columns(8);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(8);
	}
	@include media(min-width 1040px){
		@include span-columns(8);
	}
}
.col-sm-9{
	@include media(min-width 0px max-width 767px){
		@include span-columns(9);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(9);
	}
	@include media(min-width 1040px){
		@include span-columns(9);
	}
}
.col-sm-10{
	@include media(min-width 0px max-width 767px){
		@include span-columns(10);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(10);
	}
	@include media(min-width 1040px){
		@include span-columns(10);
	}
}
.col-sm-11{
	@include media(min-width 0px max-width 767px){
		@include span-columns(11);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(11);
	}
	@include media(min-width 1040px){
		@include span-columns(11);
	}
}
.col-sm-12{
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(12);@include omega(1n);
	}
}

.col-md-1{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(6);@include omega(2n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(1);@include omega(12n);
	}
	@include media(min-width 1040px){
		@include span-columns(1);@include omega(12n);
	}
}
.col-md-2{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(4);@include omega(3n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(2);@include omega(6n);
	}
	@include media(min-width 1040px){
		@include span-columns(2);@include omega(6n);
	}
}
.col-md-3{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(6);@include omega(2n);
	}
	@include media(min-width 1040px){
		@include span-columns(3);@include omega(4n);
	}
}
.col-md-4{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(6);@include omega(2n);
	}
	@include media(min-width 1040px){
		@include span-columns(4);@include omega(3n);
	}
}
.col-md-5{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(5);
	}
	@include media(min-width 1040px){
		@include span-columns(5);
	}
}
.col-md-6{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(6);@include omega(2n);
	}
	@include media(min-width 1040px){
		@include span-columns(6);@include omega(2n);
	}
}
.col-md-7{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(7);
	}
	@include media(min-width 1040px){
		@include span-columns(7);
	}
}
.col-md-8{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(8);
	}
	@include media(min-width 1040px){
		@include span-columns(8);
	}
}
.col-md-9{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(9);
	}
	@include media(min-width 1040px){
		@include span-columns(9);
	}
}
.col-md-10{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(10);
	}
	@include media(min-width 1040px){
		@include span-columns(10);
	}
}
.col-md-11{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(11);
	}
	@include media(min-width 1040px){
		@include span-columns(11);
	}
}
.col-md-12{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(12);@include omega(1n);
	}
}

.col-lg-1{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(1);@include omega(12n);
	}
}
.col-lg-2{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(2);@include omega(6n);
	}
}
.col-lg-3{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(3);@include omega(4n);
	}
}
.col-lg-4{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(4);@include omega(3n);
	}
}
.col-lg-5{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(5);
	}
}
.col-lg-6{
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(6);@include omega(2n);
	}
}
.col-lg-7{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(7);
	}
}
.col-lg-8{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(8);
	}
}
.col-lg-9{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(9);
	}
}
.col-lg-10{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(10);
	}
}
.col-lg-11{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(11);
	}

}
.col-lg-12{
	min-height: 1px;
	@include media(min-width 0px max-width 767px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 768px max-width 1039px){
		@include span-columns(12);@include omega(1n);
	}
	@include media(min-width 1040px){
		@include span-columns(12);@include omega(1n);
	}
}
.col-no-gutter{
	margin-right: 0 !important;
	&.col-sm-1{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(1, block-collapse);@include omega(12n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(1, block-collapse);@include omega(12n);
		}
		@include media(min-width 1040px){
			@include span-columns(1, block-collapse);@include omega(12n);
		}
	}
	&.col-sm-2{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(2, block-collapse);@include omega(6n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(2, block-collapse);@include omega(6n);
		}
		@include media(min-width 1040px){
			@include span-columns(2, block-collapse);@include omega(6n);
		}
	}
	&.col-sm-3{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(3, block-collapse);@include omega(4n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(3, block-collapse);@include omega(4n);
		}
		@include media(min-width 1040px){
			@include span-columns(3, block-collapse);@include omega(4n);
		}
	}
	&.col-sm-4{
		@include media(min-width 0px max-width 767px){
			@include span-columns(4, block-collapse);@include omega(3n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(4, block-collapse);@include omega(3n);
		}
		@include media(min-width 1040px){
			@include span-columns(4, block-collapse);@include omega(3n);
		}
	}
	&.col-sm-5{
		@include media(min-width 0px max-width 767px){
			@include span-columns(5, block-collapse);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(5, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(5, block-collapse);
		}
	}
	&.col-sm-6{
		@include media(min-width 0px max-width 767px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
		@include media(min-width 1040px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
	}
	&.col-sm-7{
		@include media(min-width 0px max-width 767px){
			@include span-columns(7, block-collapse);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(7, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(7, block-collapse);
		}
	}
	&.col-sm-8{
		@include media(min-width 0px max-width 767px){
			@include span-columns(8, block-collapse);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(8, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(8, block-collapse);
		}
	}
	&.col-sm-9{
		@include media(min-width 0px max-width 767px){
			@include span-columns(9, block-collapse);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(9, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(9, block-collapse);
		}
	}
	&.col-sm-10{
		@include media(min-width 0px max-width 767px){
			@include span-columns(10, block-collapse);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(10, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(10, block-collapse);
		}
	}
	&.col-sm-11{
		@include media(min-width 0px max-width 767px){
			@include span-columns(11, block-collapse);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(11, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(11, block-collapse);
		}
	}
	&.col-sm-12{
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
	}

	&.col-md-1{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(1, block-collapse);@include omega(12n);
		}
		@include media(min-width 1040px){
			@include span-columns(1, block-collapse);@include omega(12n);
		}
	}
	&.col-md-2{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(4, block-collapse);@include omega(3n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(2, block-collapse);@include omega(6n);
		}
		@include media(min-width 1040px){
			@include span-columns(2, block-collapse);@include omega(6n);
		}
	}
	&.col-md-3{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
		@include media(min-width 1040px){
			@include span-columns(3, block-collapse);@include omega(4n);
		}
	}
	&.col-md-4{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
		@include media(min-width 1040px){
			@include span-columns(4, block-collapse);@include omega(3n);
		}
	}
	&.col-md-5{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(5, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(5, block-collapse);
		}
	}
	&.col-md-6{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
		@include media(min-width 1040px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
	}
	&.col-md-7{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(7, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(7, block-collapse);
		}
	}
	&.col-md-8{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(8, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(8, block-collapse);
		}
	}
	&.col-md-9{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(9, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(9, block-collapse);
		}
	}
	&.col-md-10{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(10, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(10, block-collapse);
		}
	}
	&.col-md-11{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(11, block-collapse);
		}
		@include media(min-width 1040px){
			@include span-columns(11, block-collapse);
		}
	}
	&.col-md-12{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
	}

	&.col-lg-1{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(1, block-collapse);@include omega(12n);
		}
	}
	&.col-lg-2{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(2, block-collapse);@include omega(6n);
		}
	}
	&.col-lg-3{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(3, block-collapse);@include omega(4n);
		}
	}
	&.col-lg-4{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(4, block-collapse);@include omega(3n);
		}
	}
	&.col-lg-5{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(5, block-collapse);
		}
	}
	&.col-lg-6{
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(6, block-collapse);@include omega(2n);
		}
	}
	&.col-lg-7{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(7, block-collapse);
		}
	}
	&.col-lg-8{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(8, block-collapse);
		}
	}
	&.col-lg-9{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(9, block-collapse);
		}
	}
	&.col-lg-10{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(10, block-collapse);
		}
	}
	&.col-lg-11{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(11, block-collapse);
		}

	}
	&.col-lg-12{
		min-height: 1px;
		@include media(min-width 0px max-width 767px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 768px max-width 1039px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
		@include media(min-width 1040px){
			@include span-columns(12, block-collapse);@include omega(1n);
		}
	}
}
.row{
	@include clearfix;
}