$black: #000;
$red: #C52216;
$gray: #B3B3B3;
$dark-gray: #1D1D1D;

/* Fonts */
$roboto: 'Roboto', sans-serif;

/* Font-sizes */
$xlarge: 33px;
$large: 24px;
$mid-large: 20px;
$normal: 15px;
$small: 12px;